:root {
  --white: #FFFFFF;
  --background: #F9FAFB;
  --additional-font: #1778EA1A;
  --border: #44537140;
  --basic-font: #0017FC;
  --secondary-font: #858FA3;
  --main-font: #101828;
  --primary: #0017FC;
  --rounded-12: 12px;
  --transition-100: 100ms ease-out all;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--white);
  width: 100%;
}

div#root {
  display: flex;
  margin: 0 auto;
  min-height: 100vh;
}

main {
  width: 100%;
  height: 100%;
  overflow: clip;
  border-right: 1px solid var(--border);
}